<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homer.matbrensdaproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudentMain"
            android:label="@string/title_activity_student_main" />
        <activity
            android:name=".StudentTest"
            android:label="@string/title_activity_student_test" />
        <activity
            android:name=".EndTest"
            android:label="@string/title_activity_end_test" />
        <activity
            android:name=".AdminMain"
            android:label="@string/title_activity_admin_main" />
        <activity
            android:name=".Score"
            android:label="@string/title_activity_score" />
        <activity
            android:name=".NewQuestions"
            android:label="@string/title_activity_new_questions" />
        <activity
            android:name=".NewQuestionsCreate"
            android:label="@string/title_activity_new_questions_create" />
        <activity
            android:name=".QuestionsEnd"
            android:label="@string/title_activity_questions_end"></activity>
    </application>

</manifest>